<app-alert-component [display]="displayAlert" [type]="alertType" [message]="alertMessage" (closeEvent)="closeAlert()">
</app-alert-component>

<form [formGroup]="requestBooksForm" (ngSubmit)="requestBook()" style="margin-left: 82px;">
    <div class="form">
        <h3 class="text-warning" style="margin-left: 150px"> Request Books </h3>
        <app-input [name]="'bookId'" [type]="'number'" [placeholder]="'bookId'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'count'" [type]="'number'" [placeholder]="'count'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'bookName'" [placeholder]="'bookName'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'authorName'"  [placeholder]="'authorName'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'fromdate'" [type]="'date'" [placeholder]="'fromdate'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'endDate'" [type]="'date'" [placeholder]="'endDate'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'genre'"   [placeholder]="'genre'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'status'"   [placeholder]="'status'" [formGroup]="requestBooksForm">
        </app-input>
        <app-input [name]="'bookStatus'"   [placeholder]="'bookStatus'" [formGroup]="requestBooksForm">
        </app-input>
        <div class="panel-footer ml-4">
            <button class="btn btn-warning"  [disabled]="requestBooksForm.invalid" type="submit" id="save">Request </button>
        </div>
    </div>
</form>